<div>
    <h2 id="page-heading">
        <span jhiTranslate="uniAgendaApp.servidor.home.title">Servidors</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-servidor" [routerLink]="['/servidor/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="uniAgendaApp.servidor.home.createLabel">
            Create a new Servidor
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'uniAgendaApp.servidor.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="servidors?.length === 0">
        <span jhiTranslate="uniAgendaApp.servidor.home.notFound">No servidors found</span>
    </div>
    <div class="table-responsive" *ngIf="servidors?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="uniAgendaApp.servidor.codSiape">Cod Siape</span></th>
            <th><span jhiTranslate="uniAgendaApp.servidor.nomeServidor">Nome Servidor</span></th>
            <th><span jhiTranslate="uniAgendaApp.servidor.agendaServidor">Agenda Servidor</span></th>
            <th><span jhiTranslate="uniAgendaApp.servidor.diasAtendimento">Dias Atendimento</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let servidor of servidors ;trackBy: trackId">
                <td><a [routerLink]="['/servidor', servidor.id, 'view' ]">{{servidor.id}}</a></td>
                <td>{{servidor.codSiape}}</td>
                <td>{{servidor.nomeServidor}}</td>
                <td>
                    <div *ngIf="servidor.agendaServidor">
                        <a [routerLink]="['/agenda-servidor', servidor.agendaServidor?.id, 'view' ]" >{{servidor.agendaServidor?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="servidor.diasAtendimento">
                        <a [routerLink]="['/dias-atendimento', servidor.diasAtendimento?.id, 'view' ]" >{{servidor.diasAtendimento?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/servidor', servidor.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/servidor', servidor.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/servidor', { outlets: { popup: servidor.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
