<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="servidor">
            <h2><span jhiTranslate="uniAgendaApp.servidor.detail.title">Servidor</span> {{servidor.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="uniAgendaApp.servidor.codSiape">Cod Siape</span></dt>
                <dd>
                    <span>{{servidor.codSiape}}</span>
                </dd>
                <dt><span jhiTranslate="uniAgendaApp.servidor.nomeServidor">Nome Servidor</span></dt>
                <dd>
                    <span>{{servidor.nomeServidor}}</span>
                </dd>
                <dt><span jhiTranslate="uniAgendaApp.servidor.agendaServidor">Agenda Servidor</span></dt>
                <dd>
                    <div *ngIf="servidor.agendaServidor">
                        <a [routerLink]="['/agenda-servidor', servidor.agendaServidor?.id, 'view']">{{servidor.agendaServidor?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="uniAgendaApp.servidor.diasAtendimento">Dias Atendimento</span></dt>
                <dd>
                    <div *ngIf="servidor.diasAtendimento">
                        <a [routerLink]="['/dias-atendimento', servidor.diasAtendimento?.id, 'view']">{{servidor.diasAtendimento?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/servidor', servidor.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
