<div>
    <h2 id="page-heading">
        <span jhiTranslate="uniAgendaApp.aluno.home.title">Alunos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-aluno" [routerLink]="['/aluno/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="uniAgendaApp.aluno.home.createLabel">
            Create a new Aluno
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'uniAgendaApp.aluno.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="alunos?.length === 0">
        <span jhiTranslate="uniAgendaApp.aluno.home.notFound">No alunos found</span>
    </div>
    <div class="table-responsive" *ngIf="alunos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="uniAgendaApp.aluno.raAluno">Ra Aluno</span></th>
            <th><span jhiTranslate="uniAgendaApp.aluno.nomeAluno">Nome Aluno</span></th>
            <th><span jhiTranslate="uniAgendaApp.aluno.periodo">Periodo</span></th>
            <th><span jhiTranslate="uniAgendaApp.aluno.curso">Curso</span></th>
            <th><span jhiTranslate="uniAgendaApp.aluno.agendaAtendimentoServidor">Agenda Atendimento Servidor</span></th>
            <th><span jhiTranslate="uniAgendaApp.aluno.agendaAluno">Agenda Aluno</span></th>
            <th><span jhiTranslate="uniAgendaApp.aluno.agendaReservaSala">Agenda Reserva Sala</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let aluno of alunos ;trackBy: trackId">
                <td><a [routerLink]="['/aluno', aluno.id, 'view' ]">{{aluno.id}}</a></td>
                <td>{{aluno.raAluno}}</td>
                <td>{{aluno.nomeAluno}}</td>
                <td>{{aluno.periodo}}</td>
                <td jhiTranslate="{{'uniAgendaApp.Curso.' + aluno.curso}}">{{aluno.curso}}</td>
                <td>
                    <div *ngIf="aluno.agendaAtendimentoServidor">
                        <a [routerLink]="['/agenda-atendimento-servidor', aluno.agendaAtendimentoServidor?.id, 'view' ]" >{{aluno.agendaAtendimentoServidor?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="aluno.agendaAluno">
                        <a [routerLink]="['/agenda-aluno', aluno.agendaAluno?.id, 'view' ]" >{{aluno.agendaAluno?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="aluno.agendaReservaSala">
                        <a [routerLink]="['/agenda-reserva-sala', aluno.agendaReservaSala?.id, 'view' ]" >{{aluno.agendaReservaSala?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/aluno', aluno.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/aluno', aluno.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/aluno', { outlets: { popup: aluno.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
