<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-agenda-atendimento-servidor-heading" jhiTranslate="uniAgendaApp.agendaAtendimentoServidor.home.createOrEditLabel">Create or edit a Agenda Atendimento Servidor</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="uniAgendaApp.agendaAtendimentoServidor.status" for="field_status">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="Livre">{{'uniAgendaApp.StatusAgenda.Livre' | translate}}</option>
                        <option value="Ocupado">{{'uniAgendaApp.StatusAgenda.Ocupado' | translate}}</option>
                        <option value="Atendido">{{'uniAgendaApp.StatusAgenda.Atendido' | translate}}</option>
                        <option value="Remarcado">{{'uniAgendaApp.StatusAgenda.Remarcado' | translate}}</option>
                        <option value="Faltou">{{'uniAgendaApp.StatusAgenda.Faltou' | translate}}</option>
                    </select>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
