<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="agendaReservaSala">
            <h2><span jhiTranslate="uniAgendaApp.agendaReservaSala.detail.title">Agenda Reserva Sala</span> {{agendaReservaSala.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="uniAgendaApp.agendaReservaSala.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{'uniAgendaApp.StatusAgenda.' + agendaReservaSala.status}}">{{agendaReservaSala.status}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/agenda-reserva-sala', agendaReservaSala.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
