<div>
    <h2 id="page-heading">
        <span jhiTranslate="uniAgendaApp.diasAtendimento.home.title">Dias Atendimentos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-dias-atendimento" [routerLink]="['/dias-atendimento/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="uniAgendaApp.diasAtendimento.home.createLabel">
            Create a new Dias Atendimento
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'uniAgendaApp.diasAtendimento.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="diasAtendimentos?.length === 0">
        <span jhiTranslate="uniAgendaApp.diasAtendimento.home.notFound">No diasAtendimentos found</span>
    </div>
    <div class="table-responsive" *ngIf="diasAtendimentos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="uniAgendaApp.diasAtendimento.mes">Mes</span></th>
            <th><span jhiTranslate="uniAgendaApp.diasAtendimento.diaMes">Dia Mes</span></th>
            <th><span jhiTranslate="uniAgendaApp.diasAtendimento.diaSemana">Dia Semana</span></th>
            <th><span jhiTranslate="uniAgendaApp.diasAtendimento.statusDia">Status Dia</span></th>
            <th><span jhiTranslate="uniAgendaApp.diasAtendimento.agendaServidor">Agenda Servidor</span></th>
            <th><span jhiTranslate="uniAgendaApp.diasAtendimento.agendaServidor">Agenda Servidor</span></th>
            <th><span jhiTranslate="uniAgendaApp.diasAtendimento.agendaServidor">Agenda Servidor</span></th>
            <th><span jhiTranslate="uniAgendaApp.diasAtendimento.agendaAluno">Agenda Aluno</span></th>
            <th><span jhiTranslate="uniAgendaApp.diasAtendimento.agendaAluno">Agenda Aluno</span></th>
            <th><span jhiTranslate="uniAgendaApp.diasAtendimento.agendaAluno">Agenda Aluno</span></th>
            <th><span jhiTranslate="uniAgendaApp.diasAtendimento.agendaSala">Agenda Sala</span></th>
            <th><span jhiTranslate="uniAgendaApp.diasAtendimento.agendaSala">Agenda Sala</span></th>
            <th><span jhiTranslate="uniAgendaApp.diasAtendimento.agendaSala">Agenda Sala</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let diasAtendimento of diasAtendimentos ;trackBy: trackId">
                <td><a [routerLink]="['/dias-atendimento', diasAtendimento.id, 'view' ]">{{diasAtendimento.id}}</a></td>
                <td jhiTranslate="{{'uniAgendaApp.Mes.' + diasAtendimento.mes}}">{{diasAtendimento.mes}}</td>
                <td jhiTranslate="{{'uniAgendaApp.DiaMes.' + diasAtendimento.diaMes}}">{{diasAtendimento.diaMes}}</td>
                <td jhiTranslate="{{'uniAgendaApp.DiaSemana.' + diasAtendimento.diaSemana}}">{{diasAtendimento.diaSemana}}</td>
                <td jhiTranslate="{{'uniAgendaApp.StatusDia.' + diasAtendimento.statusDia}}">{{diasAtendimento.statusDia}}</td>
                <td>
                    <div *ngIf="diasAtendimento.agendaServidor">
                        <a [routerLink]="['/agenda-servidor', diasAtendimento.agendaServidor?.id, 'view' ]" >{{diasAtendimento.agendaServidor?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="diasAtendimento.agendaServidor">
                        <a [routerLink]="['/agenda-servidor', diasAtendimento.agendaServidor?.id, 'view' ]" >{{diasAtendimento.agendaServidor?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="diasAtendimento.agendaServidor">
                        <a [routerLink]="['/agenda-servidor', diasAtendimento.agendaServidor?.id, 'view' ]" >{{diasAtendimento.agendaServidor?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="diasAtendimento.agendaAluno">
                        <a [routerLink]="['/agenda-aluno', diasAtendimento.agendaAluno?.id, 'view' ]" >{{diasAtendimento.agendaAluno?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="diasAtendimento.agendaAluno">
                        <a [routerLink]="['/agenda-aluno', diasAtendimento.agendaAluno?.id, 'view' ]" >{{diasAtendimento.agendaAluno?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="diasAtendimento.agendaAluno">
                        <a [routerLink]="['/agenda-aluno', diasAtendimento.agendaAluno?.id, 'view' ]" >{{diasAtendimento.agendaAluno?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="diasAtendimento.agendaSala">
                        <a [routerLink]="['/agenda-sala', diasAtendimento.agendaSala?.id, 'view' ]" >{{diasAtendimento.agendaSala?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="diasAtendimento.agendaSala">
                        <a [routerLink]="['/agenda-sala', diasAtendimento.agendaSala?.id, 'view' ]" >{{diasAtendimento.agendaSala?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="diasAtendimento.agendaSala">
                        <a [routerLink]="['/agenda-sala', diasAtendimento.agendaSala?.id, 'view' ]" >{{diasAtendimento.agendaSala?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/dias-atendimento', diasAtendimento.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/dias-atendimento', diasAtendimento.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/dias-atendimento', { outlets: { popup: diasAtendimento.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
