<div>
    <h2 id="page-heading">
        <span jhiTranslate="uniAgendaApp.agendaAluno.home.title">Agenda Alunos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-agenda-aluno" [routerLink]="['/agenda-aluno/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="uniAgendaApp.agendaAluno.home.createLabel">
            Create a new Agenda Aluno
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'uniAgendaApp.agendaAluno.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="agendaAlunos?.length === 0">
        <span jhiTranslate="uniAgendaApp.agendaAluno.home.notFound">No agendaAlunos found</span>
    </div>
    <div class="table-responsive" *ngIf="agendaAlunos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="uniAgendaApp.agendaAluno.status">Status</span></th>
            <th><span jhiTranslate="uniAgendaApp.agendaAluno.horario">Horario</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let agendaAluno of agendaAlunos ;trackBy: trackId">
                <td><a [routerLink]="['/agenda-aluno', agendaAluno.id, 'view' ]">{{agendaAluno.id}}</a></td>
                <td jhiTranslate="{{'uniAgendaApp.StatusAgenda.' + agendaAluno.status}}">{{agendaAluno.status}}</td>
                <td jhiTranslate="{{'uniAgendaApp.Horario.' + agendaAluno.horario}}">{{agendaAluno.horario}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/agenda-aluno', agendaAluno.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/agenda-aluno', agendaAluno.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/agenda-aluno', { outlets: { popup: agendaAluno.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
