<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-cargo-heading" jhiTranslate="uniAgendaApp.cargo.home.createOrEditLabel">Create or edit a Cargo</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="uniAgendaApp.cargo.nomeCargo" for="field_nomeCargo">Nome Cargo</label>
                    <input type="text" class="form-control" name="nomeCargo" id="field_nomeCargo"
                           formControlName="nomeCargo"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="uniAgendaApp.cargo.servidor" for="field_servidor">Servidor</label>
                    <select class="form-control" id="field_servidor" name="servidor" formControlName="servidor">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="servidorOption.id === editForm.get('servidor').value?.id ? editForm.get('servidor').value : servidorOption" *ngFor="let servidorOption of servidors; trackBy: trackServidorById">{{servidorOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
