<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cargo">
            <h2><span jhiTranslate="uniAgendaApp.cargo.detail.title">Cargo</span> {{cargo.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="uniAgendaApp.cargo.nomeCargo">Nome Cargo</span></dt>
                <dd>
                    <span>{{cargo.nomeCargo}}</span>
                </dd>
                <dt><span jhiTranslate="uniAgendaApp.cargo.servidor">Servidor</span></dt>
                <dd>
                    <div *ngIf="cargo.servidor">
                        <a [routerLink]="['/servidor', cargo.servidor?.id, 'view']">{{cargo.servidor?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cargo', cargo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
