<div>
    <h2 id="page-heading">
        <span jhiTranslate="uniAgendaApp.cargo.home.title">Cargos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cargo" [routerLink]="['/cargo/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="uniAgendaApp.cargo.home.createLabel">
            Create a new Cargo
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'uniAgendaApp.cargo.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="cargos?.length === 0">
        <span jhiTranslate="uniAgendaApp.cargo.home.notFound">No cargos found</span>
    </div>
    <div class="table-responsive" *ngIf="cargos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="uniAgendaApp.cargo.nomeCargo">Nome Cargo</span></th>
            <th><span jhiTranslate="uniAgendaApp.cargo.servidor">Servidor</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cargo of cargos ;trackBy: trackId">
                <td><a [routerLink]="['/cargo', cargo.id, 'view' ]">{{cargo.id}}</a></td>
                <td>{{cargo.nomeCargo}}</td>
                <td>
                    <div *ngIf="cargo.servidor">
                        <a [routerLink]="['/servidor', cargo.servidor?.id, 'view' ]" >{{cargo.servidor?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/cargo', cargo.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/cargo', cargo.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/cargo', { outlets: { popup: cargo.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
