<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-sala-heading" jhiTranslate="uniAgendaApp.sala.home.createOrEditLabel">Create or edit a Sala</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="uniAgendaApp.sala.nomeSala" for="field_nomeSala">Nome Sala</label>
                    <input type="text" class="form-control" name="nomeSala" id="field_nomeSala"
                           formControlName="nomeSala"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="uniAgendaApp.sala.codigoSala" for="field_codigoSala">Codigo Sala</label>
                    <input type="text" class="form-control" name="codigoSala" id="field_codigoSala"
                           formControlName="codigoSala"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="uniAgendaApp.sala.agendaSala" for="field_agendaSala">Agenda Sala</label>
                    <select class="form-control" id="field_agendaSala" name="agendaSala" formControlName="agendaSala">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="agendaSalaOption.id === editForm.get('agendaSala').value?.id ? editForm.get('agendaSala').value : agendaSalaOption" *ngFor="let agendaSalaOption of agendasalas; trackBy: trackAgendaSalaById">{{agendaSalaOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
